
/* The header and footer styling are copied directly from the ucum project */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  position: static;
  margin: 0;
}

/* main page content (not including header/footer) */
div.page-content {
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

#show-more-less {
  display: none;
}
div.summary {
  margin-top: 5px;
}
div.content-block, div.summary {
  margin-left:20px;
  margin-right: 20px;
}

/* section title */
h3 {
  margin-top: 15px;
  margin-bottom: 0;
}
hr {
  margin-top: 0;
  margin-bottom: 10px;
}

/* The input block in a table */
table.input {
  font-weight: bold;
}
table.input td {
  padding: 0.5em;
}
th.input-label {
  text-align: right;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#loincCol, #unitCol {
  border-radius: 7px;
  border: 2px solid #17b4e3;
  padding-left: 5px;
}

/* Styles for the header */
#header {
  position: relative;
  font-size: 12px;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  font-display: swap;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 24px;
}
#site-logo {
  position: relative;
  margin-top: 4px;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
  display: block;
}
#site-logo img {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  border-right: 1px solid #0BACB6;
  padding-right: 5px;
}
#siteNameBox {
  margin-top: 2.2em;
  margin-left: 5px;
}
#siteName {
  font-size: 300%;
}
/* End of styles for the header */

/* Start styles for NIH/NLM/LHC logo */
#lhc-logo {
  background-color: #0BACB6;
  padding-top: 4px;
  padding-left:5px;
  overflow:hidden;
}
#lhc-logo img {
  height: 35px;
  width: auto;
  margin-bottom: -3px
}

/* Styles for the navigation links */
.nav-links {
  border-bottom: 1px solid black;
  background-color: #ebf5ff;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  padding-left: 7px;
  margin-top: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
}
.nav-links a.current {
  font-weight: bold;
}
/* End of styles for the navigation links */

/* Styles for the footer */
#fine-print {
  border-top: 2px solid #0BACB6;
  clear: left;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
ul.horz-list li {
  list-style-type: none;
  display: inline;
  padding-left: 8px;
  padding-right: 10px;
  border-right: 1px solid #999;
}
ul.horz-list li.last-item {
  border-right: none;
}
#usagov {
  vertical-align: bottom;
}
/* Add some space above the footer.  For some reason adding a margin-top
   does not work, perhaps because of a float, so instead we add padding to the
   floated element.
 */
.col-md-9 {
  padding-bottom: 1em;
}

/* End of styles for the footer */
